.banner{
    background-image: url('https://c1.wallpaperflare.com/preview/584/109/319/sunlight-shelves-books-library.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-banner{
    padding: 130px 0;
}